{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    "transform-async-to-generator",
    "transform-runtime",
    "transform-vue-jsx"
  ],
  "comments": false
}
